.register_button{
margin-left: 40%;
}
.header_banner{
background:url(../../images/slider2.jpg) no-repeat;
height:530px;
width:100%;
}
.pickup{
width: 42%;
margin-top:20px;
}
.pickup2{
width: 46%;
margin-top: -54px;
margin-left: 260px;
}
.unnamed{
margin-bottom: 16px;
margin-left: 205px;
margin-top: -39px;
}
.quote{
background:red;
}
.desti{
position: absolute;
top: 11em;
right: 30em;
}
.email_div{
position: absolute;
top: 11em;
right: 13em;
}
.search{
width: 120px !important;
position: absolute;
top: 12.2em;
left: 36%;
background:#fff;
color:#000;
border-color: black;
border-radius: 16px;
height: 40px;
}
.search:hover{
background: #000;
color: #fff;
}
.header_inner_bg {
background-color: #073A29;
height: 198px;
margin-top: 33px;
width: 48%;
margin-left: -17em;
opacity: 0.91;
border-top-right-radius: 58px;
border-bottom-left-radius: 58px;
}
.box{
background:#fff;
border-top-right-radius: 58px;
}
.box h1{
text-align:center;
}
.unnamed1{
display:none;
}
.background{
font-family: 'Open Sans', sans-serif;
}
.email_search{
background-color: #000 !important;
color:#FFFFFF;
}
.auth h1{
color:#fff!important;
font-weight:300;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
text-align: center;
margin: 10px;
}
.auth .auth-box{
max-width: 100%;
position: absolute;
left: 0%;
}
.well {
background-color: transparent !important;
border: 0px solid #e3e3e3 !important;
}
.auth form select{
background-color: #000 !important;
color:#fff !important;
border-radius:0;
}
.booknow_border{
    margin-top: 40px;
    border: 1px solid;
    width: 100%;
height: 240px;
    margin-bottom: 40px;
	    background: #efefef;
}
.booknow_img{
    margin-top: 20px;
}
.booknow_img_men{
    position: absolute;
    top: 85%;
    left: 8%;
    width: 10%;
}
.booknow_carname{
    background: #073A29;
    right: 0%;
    top: 0%;
    position: absolute;
    width: 15%;
    text-align: center;
}
.booknow_carname h4{
color:#FFFFFF !important;
}
.booknow_passengers{
    position: relative;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    left: 4.6em;
    top: 1em;
}
.booknow_img_bag{
    position: absolute;
    right: 39em;
    top: 4.5em;
    width: 10%;
}
.booknow_big_bag{
     position: relative;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    left: 10.5em;
    top: 1em;
}
.booknow_img_smallbag{
    position: absolute;
    top: 4.5em;
    right: 27em;
    width: 9%;

}
.booknow_small_bag{
position: relative;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    left: 15em;
    top: 1em;
}
.price_car_div{
    position: absolute;
    top: 13em;
    left: 6em;
}
.car_price{
    font-size: 18px;
    margin-left: 8px;
    font-weight: bold;

}
.car_header{
margin-left: 3em;
}
.car_header_p{
display:none;
}
.car_header_second_p{
display:none;
}
.reserve{
position: absolute;
    right: 2%;
      top: 14em;
    border-radius: 9px !important;
    background: #073A29 !important;
    border: 0px !important;
    color: white !important;
}

.luggages{
position: absolute;
    right: 38%;
}
.handlugg{
    position: absolute;
    right: 3%;
}
.passengers{
    margin-left: -3em !important;
}
.pickupform{
background: #073A29;
    padding: 30px;
    border-radius: 22px;
}
.reserve_label{
color:#FFFFFF !important;
font-family: 'Open Sans', sans-serif;
margin-top: 8px;
}
.controls{
background:#073A29 !important;
    height: 50px !important;
	margin-left:3em !important;
}
.booknow_container{
    margin-top: 1em;
}
.contact_container{
    margin-top: 7em;
}
.faq_container{
 margin-top: 8em;
}
.about_container{
margin-top: 8em;
}
.popup_login:hover{
color:#FFFFFF !important;
}
.booking_information_container{
margin-top: 0em;
}
.stat-count{
color: white;
}
.logout{
font-size:14px !important;
}
<!-- media query -->
@media only screen and (max-width: 1199px) {
   .car_header {
    margin-left: 0em;
}
.booknow_img_smallbag {
 
    right: 12em;
 
}
.booknow_img_bag {
 
    right: 24em;
    top: 3.5em;
}
.price_car_div {
 
    top: 11em;
}

}
@media only screen and (max-width: 991px){
.car_header {
    margin-left: -40em;
}
   

.booknow_img {
    margin-top: 0px;
	 width: 50%;
    margin-left: 12em;
}
.booknow_border {
    height: 370px;
}
.booknow_img_men {
    top: 20em;
    left: -45em;
    width: 55%;
}
.booknow_passengers {
   left: -19em;
    top: 7.5em;
}
.booknow_img_bag {
    right: 38em;
    top: 20em;
    width: 50%;
}
.booknow_big_bag {
     left: -15.2em;
    top: 7.3em;
}
.booknow_img_smallbag {
    right: 26em;
    width: 50%;
    top: 20em;
}
.booknow_small_bag {
    left: -11.3em;
    top: 7.3em;
}
.price_car_div {
    top: 23.5em;
    left: -45em;
}
.reserve {
    right: 11em;
    bottom: 3%;
}
.booknow_carname {
    right: 10em;
    width: 75%;
    }
}
@media only screen and (max-width: 767px){
.booknow_border {
    width: 90%;
    margin-left: 25px;
}
.car_header {
    margin-left: -40em;
    font-size: 16px;
}
}
@media only screen and (max-width: 740px){
.car_header {
    margin-left: -42em;
    font-size: 14px;
}
.booknow_small_bag {
    left: -9.3em;
}
.booknow_img_smallbag {
    right: 22em;
}
.booknow_big_bag {
    left: -12.2em;
}
.booknow_img_bag {
    right: 32em;

}
.booknow_passengers {
    left: -15.5em;
 
}
.booknow_img_men {
     left: -37em;
 
}
.price_car_div {
 
    left: -35em;
}
}
@media only screen and (max-width: 680px){
.booknow_carname {
    right: 28em;
    width: 75%;
    top: 15em;
}
.booknow_img {
    margin-top: 12px;
    width: 50%;
    margin-left: 8em;
}

.car_header {
    margin-left: -35em;
    font-size: 14px;
}
}
@media only screen and (max-width: 580px){
.car_header {
    margin-left: -34em;
    font-size: 14px;
}
.booknow_img {
      margin-left: 10em;
}
.booknow_carname {
    right: 24em;
}
.booknow_small_bag {
    left: -8.5em;
}
.booknow_img_smallbag {
    right: 20em;
}
.booknow_big_bag {
    left: -10.2em;
}
.booknow_img_bag {
    right: 28em;
}
.booknow_passengers {
    left: -12.5em;
}
.booknow_img_men {
    left: -31em;
}
.price_car_div {
    left: -30em;
}
}
@media only screen and (max-width: 550px){
.car_header {
    margin-left: -34em;
    font-size: 13px;
}
.booknow_img {
    margin-left: 7em;
    margin-top: 20px;
}
.pickup{
width:100%;
}
.unnamed1{
display:inline-block;
    margin-left: 8em;
    margin-top: 0.5em;
}
.unnamed{
display:none;
}
.background {
   height: 300px;
}
.search {
     top: 19.2em;
	     left: 30%;
	}
	.pickup2 {
    width: 100%;
    margin-top: 12px;
    margin-left: 0px;
}
}
@media only screen and (max-width: 515px){
.car_header_p {
    display: inline-block;
    position: absolute;
    left: -20em;
}
.car_header_second_p {
    display: inline-block;
    position: absolute;
    left: -19em;
    top: 1em;
}
.car_header{
display:none;
}
.booknow_img {
    margin-left: 7em;
    margin-top: 35px;
}
.booknow_small_bag {
    left: -11.5em;
    top: 11em;
    font-size: 22px;
}
.booknow_img_smallbag {
    right: 19em;
}
.booknow_big_bag {
    left: -13.2em;
    font-size: 22px;
    top: 11em;
}
.booknow_img_bag {
    right: 25em;
}
.booknow_passengers {
    left: -15.5em;
    font-size: 22px;
    top: 11em;
}
.booknow_img_men {
    left: -27em;
}
.price_car_div {
    left: -25em;
}
.booknow_carname {
    right: 21em;
    width: 100%;
    top: 13.5em;
}
}
@media only screen and (max-width: 440px){
.booknow_img {
    margin-left: 7em;
    margin-top: 35px;
}
.booknow_carname {
    right: 17em;
    width: 100%;
    top: 13.5em;
}
.car_header_p {
 
    font-size: 16px;
}
.car_header_second_p {
 
    top: 1.5em;
    font-size: 16px;
}
.reserve {
    right: 8em;
    bottom: 3%;
}
.booknow_small_bag {
    left: -9.5em;
 
}
.booknow_img_smallbag {
    right: 16em;
}
.booknow_big_bag {
    left: -11.2em;
 
}
.booknow_img_bag {
    right: 21em;
}
.booknow_passengers {
    left: -13em;
    }
.booknow_img_men {
    left: -23em;
}
.price_car_div {
    left: -22em;
}
}
@media only screen and (max-width: 420px){
.booknow_img {
    margin-left: 5em;
    margin-top: 55px;
}
}
@media only screen and (max-width: 375px){
.car_header_p {
    font-size: 14px;
}
.car_header_second_p {
    top: 1.5em;
    font-size: 14px;
}
.booknow_carname {
    right: 15em;
 
}
.booknow_small_bag {
    left: -8.5em;
    font-size: 20px;
    top: 12.4em;
}
.booknow_img_smallbag {
    right: 13em;
}
.booknow_big_bag {
    left: -9.7em;
    font-size: 20px;
    top: 12.4em;
}
.booknow_img_bag {
    right: 18em;
}
.booknow_passengers {
    left: -12em;
    font-size: 20px;
    top: 12.5em;
}
.booknow_img_men {
    left: -19.5em;
}
.car_price {
    font-size: 15px;
  
}
.price_car_div {
    left: -19em;
}
}
@media only screen and (max-width: 330px){
.car_header_p {
 
    left: -18em;
}
.car_header_second_p {
     left: -16em;
}
.booknow_img {
    margin-left: 5em;
    margin-top: 65px;
}
.booknow_carname {
    right: 13em;
}
.booknow_small_bag {
    left: -7.5em;
 }
 .booknow_img_smallbag {
    right: 12em;
}
.booknow_big_bag {
    left: -8.7em;
}
.booknow_img_bag {
    right: 16em;
}
.booknow_passengers {
    left: -10.5em;

}
.booknow_img_men {
    left: -17.5em;
}
.car_price {
    font-size: 13px;
}
.price_car_div {
    left: -17em;
}
.auth h1 {
     font-size: 18px;
 }
}

@media only screen and (max-width: 300px){
.auth h1 {
    font-size: 15px;
}
.unnamed1 {
    margin-left: 6em;

}

}