/**
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
/* Sprocket Tables - Colors */
.sprocket-tables-item {border: 1px solid #e0e0e0;}
.sprocket-tables-cell {border-bottom: 1px solid #e0e0e0;}
.sprocket-tables-bg1 {background: #f1f1f1;}
.sprocket-tables-bg2 {background: #fff;}
.sprocket-tables-link .readon {background: #888;color: #fff;}
.sprocket-tables-link .readon:hover {background: #333;}
.sprocket-tables-pagination li {background: #000;color: #fff;}
.sprocket-tables-arrows .arrow {background: #ccc;color: #222;border-color: #303030;}

/* Sprocket Tables - Core */
.sprocket-tables {position: relative;}
.sprocket-tables:after {display: table;content: "";clear: both;}
.sprocket-tables-container {list-style: none !important;overflow: hidden;padding: 0;margin: 0 -1%;}
.sprocket-tables-container:before, .sprocket-tables-container:after {content: "";display: table;line-height: 0;}

/* Sprocket Tables - Items */
.sprocket-tables-item {background-size: cover;border-radius: 50px;}
.sprocket-tables-title {margin-top: 0;font-size: 1.8em;}
.sprocket-tables-text {display: block;}
.sprocket-tables-block {display: inline-block;vertical-align: top;margin: 1% -4px 1% 0;text-align: center;box-sizing: border-box;padding: 0 1%;}
.cols-1 .sprocket-tables-block {width: 100%;}
.cols-2 .sprocket-tables-block {width: 50%;}
.cols-3 .sprocket-tables-block {width: 33.33%;}
.cols-4 .sprocket-tables-block {width: 25%;}
.cols-5 .sprocket-tables-block {width: 20%;}
.cols-6 .sprocket-tables-block {width: 16.6667%;}
.sprocket-tables-cell {display: block;padding: 15px;}
.sprocket-tables-cell:last-child {border-bottom: 0;}
.sprocket-tables-price {font-size: 2.2em;font-weight: bold;padding: 20px 15px;font-family: 'Open Sans', sans-serif;}
.sprocket-tables-feature {font-size: 1.1em;}
.sprocket-tables-link .readon {padding: 8px 15px;border-radius: 50px;background: #fff; color: #000;
    transition: all 0.5s ease-in-out 0s;
   -webkit-transition: all 0.5s ease-in-out 0s;
   -moz-transition: all 0.5s ease-in-out 0s;
   -o-transition: all 0.5s ease-in-out 0s;
   -ms-transition: all 0.5s ease-in-out 0s;
}
.sprocket-tables-link .readon:hover {background: #000; color: #fff;
    transition: all 0.5s ease-in-out 0s;
   -webkit-transition: all 0.5s ease-in-out 0s;
   -moz-transition: all 0.5s ease-in-out 0s;
   -o-transition: all 0.5s ease-in-out 0s;
   -ms-transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 481px) and (max-width: 767px) {
.sprocket-tables-container .sprocket-tables-block {width: 50%;}
}

@media (max-width: 480px) {
.sprocket-tables-container .sprocket-tables-block {width: 100%;float: none;margin-bottom: 15px;}
}

/* Sprocket Tables - Navigation */
.sprocket-tables-nav {display: table;width: 100%;padding: 5px;}
.sprocket-tables-pagination {display: table-cell;vertical-align: middle;}
.sprocket-tables-pagination ul {float: left;margin: 0 !important;padding: 0 !important;}
.sprocket-tables-pagination li {display: inline-block;padding: 4px !important;opacity: 0.3;border-radius: 1em;cursor: pointer;}
.sprocket-tables-pagination li.active {opacity: 1;}
.sprocket-tables-pagination li span {display: none;font-size: 0.85em;line-height: 1em;}
.sprocket-tables-pagination-hidden {display: none;}
.sprocket-tables-arrows {display: table-cell;vertical-align: middle;}
.sprocket-tables-arrow ul {float: right;margin: 0 !important;padding: 0 !important;}
.sprocket-tables-arrows .arrow {display: block;width: 22px;height:22px;border-radius: 1em;opacity: 0.7;cursor: pointer;float: right;margin-left: 5px;text-align: center;font-size: 2em;position: relative;}
.sprocket-tables-arrows .arrow:hover {opacity: 1;}
.sprocket-tables-arrows .arrow:before {content: '';width: 0;height: 0;position: absolute;top: 50%;margin-top: -5px;border-top: 5px solid transparent;border-bottom: 5px solid transparent;}
.sprocket-tables-arrows .prev:before {left: 50%;margin-left: -3px;border-right: 5px solid;}
.sprocket-tables-arrows .next:before {right: 50%;margin-right: -3px;border-left: 5px solid;}

/* Sprocket Tables - Spinner */
.sprocket-tables-overlay {display: none;position: absolute;margin-top: -66px;top:50%;left:0;right:0;bottom:0;background-color:transparent;z-index:5;}
.sprocket-tables-overlay .css-loader-wrapper {width: 60px;height:60px;margin: 0 auto;padding: 20px;background-color: rgba(0, 0, 0, 0.7);box-shadow:0 0 5px rgba(0, 0, 0, 0.4) inset,1px 1px 1px rgba(255, 255, 255, 0.1);border-radius:1em;}
.sprocket-tables.loading .sprocket-tables-overlay {display: block;}
.sprocket-tables-overlay .css-loader {display: block;margin: 0 auto;font-size: 10px;position: relative;text-indent: -9999em;border-top: 8px solid rgba(255, 255, 255, 0.2);border-right: 8px solid rgba(255, 255, 255, 0.2);border-bottom: 8px solid rgba(255, 255, 255, 0.2);border-left: 8px solid #ffffff;-webkit-animation: loader 1.1s infinite linear;animation: loader 1.1s infinite linear;}
.sprocket-tables-overlay .css-loader {border-radius: 50%;width: 44px;height: 44px;}

.sprocket-tables-image {
  border-radius: 50px 50px 0 0;
}

.sprocket-tables-link {
  padding: 30px 0;
  border-radius: 0 0 50px 50px;
}