body {
	overflow-x: hidden;
}
#google_translate_element{
	position: fixed !important;
	z-index: 99999 !important;
}
.box-g34ytfby34 {
	padding: 25px !important;
    padding-bottom: 15px !important;
    padding-right: 26px !important;
}
.top-blue-border {
    border-top: 2px solid #073A29;
    padding-top: 8px;
}
.bottom-blue-border {
    border-bottom: 2px solid #073A29;
    padding-bottom: 8px;
}

.custom-icon2, .custom-icon {
	color: #073A29;
	font-size: 14px;
}
.custom-icon {
	    padding: 5px;
	    background: #fff;
	    width: 26px;
	    border-radius: 100%;
	    height: 26px;
	    padding-top: 5px;
	    padding-left: 5px;
	    border: 1px solid #073A29;
}

.roll-btn {
	background-color: #073A29;
	color: #FFFFFF;
	border: 2px solid #073A29;
	box-shadow: inset 0 0 0 0 #073A29;
	transition: ease.4s;
	border-radius: 22px;
	opacity: 1;
}
.roll-btn:hover {
	box-shadow: inset 0 100px 0 0 #073A29;
	color: white;
	background-color: #073A29;
	opacity: 0.7;
}
.full-width{
	width:100%!important;
}

@media only screen and (min-width : 993px) {
	.box-book {
		margin-left: 42px !important;
		    margin-top: -32em;
	}
	.switch-btn-new {
		padding-top: 25px !important;
	}
	#car_selecter_mobile {
		display:none;
	}
	#car_selecter_web {
		display:block;
	}
}

@media only screen and (min-width : 768px) {
	#myCarousel {
		display: block !important;
	}
	
	.booking-box2 {
		background-color:transparent;
	}
	
	
}
. left_side_content{
font-size:14px;
}
.second_size{
    font-size: 15px;
}
.booking-box-heading {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px; 
	margin-top: 15px;
}
.head_second_content{
    margin-top: 15px;
    margin-right: -40px;
    margin-left: 50px;
    padding-bottom: 15px;
}
.main_header_bg{
       background-color: #073A29;
    margin-bottom: 4px;
    color: white;
    border-top-right-radius: 60px;
    opacity: 0.7;
    position: relative;
    top: 10em;
}
.main_header_bg_home{
     background-color: #073A29;
    margin-bottom: 4px;
    color: white;
    border-top-right-radius: 60px;
    opacity: 0.7;
    position: relative;

}
.main_header_bg_old{
    background-color: #073A29;
    margin-bottom: 4px;
    color: white;
    border-top-right-radius: 60px;
    opacity: 0.7;
    position: relative;
    top: 0em;
}
.swap-btn{
color: #073A29 !important;
    font-weight: bold;
}

.navigation {
	position: fixed;
	left: 25em;
	width: 100%;
	margin-top: 18px;
}


.navigation .login {
    float: right;
	height: 49px;
	padding: 5px 14px;
	padding-right: 36em;
	margin-top: 25px;
}
.navigation .login a {
    display: inline-block;
	height: 40px;
	width: 96px;
	text-align: center;
	background: #073A29;
	color: #fff;
	font-size: 30px;
}
.navigation .login a i {
	vertical-align: middle;
}



a:hover img {
	opacity: .75;
}
h1 {
	
	line-height: 50px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 18px;
}

.main-heading {
	    font-size: 35px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 36px;
    color: black;
}

.featured-cars .item {
	padding: 0 14px;
}
.featured-cars .image {
	position: relative;
}
.featured-cars .image .sale-tag {
	position: absolute;
	right: 0;
	bottom: 0;
	background: #09a0f7;
	color: #fff;
	font-size: 13px;
	line-height: 30px;
	padding: 0 14px;
	font-weight: 500;
}
.featured-cars .image .sale-tag.green {
	background: #64c12b;
}
.featured-cars .content {
	    border-right: 1px solid #dde2e5;
    border-left: 1px solid #dde2e5;
    padding: 119px 24px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    height: 350px;
    padding-top: 200px;
}
.featured-cars h5 {
	float: left;
	line-height: 21px;
	margin: 0;
}
.featured-cars h5 a {
	color: #000;
}
.featured-cars .price {
	color: #000;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	float: right;
}

.featured-cars .content p:last-of-type {
	margin-bottom: 0;
}
.featured-cars .details {
	background: #eff3f5;
	border: 1px solid #dde2e5;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}
.featured-cars .details i {
	color: #000;
	margin-right: 8px;
}
.featured-cars .details .baby-seat {
	float: left;
	width: 50%;
	border-right: 1px solid #dde2e5;
}

.featured-cars .details .extra-luggage {
	float: left;
	width: 50%;
}
.get_free_h3{
    color: white;
    font-size: 25px;
}
.booking_information_container{
margin-top:1em;
}

.featured-cars.owl-theme .owl-nav [class*='owl-'] {
	border-radius: 0;
	color: #fff;
	background: #1a2325;
	font-size: 18px;
	line-height: 80px;
	padding: 0 15px;
	margin: 0;
	margin-top: -40px;
	position: absolute;
	top: 50%;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.featured-cars.owl-theme .owl-nav [class*='owl-']:hover {
	background: #1a2325;
	opacity: .75;
}
.featured-cars.owl-theme .owl-nav .owl-prev {
	left: 0;
}
.featured-cars.owl-theme .owl-nav .owl-next {
	right: 0;
}
.featured-cars.three-cols.owl-theme .owl-nav .owl-prev {
	left: -36px;
}
.featured-cars.three-cols.owl-theme .owl-nav .owl-next {
	right: -36px;
}
@media all and (max-width: 768px) {
	.featured-cars.three-cols.owl-theme .owl-nav .owl-prev {
		left: 0;
	}
	.featured-cars.three-cols.owl-theme .owl-nav .owl-next {
		right: 0;
	}
}

@font-face {
    font-family: 'fam-code';
    src: url('../fonts/fam-code.ttf') format('truetype');
   
}
.handshake-icon {
	font-family:'fam-code';
	font-size: 25px;
}
div.popup-new {
	height: 33px;
	width: auto;
	border: 1px solid #073A29;
	position: absolute;
	bottom: 58px;
	left: 20px;
	box-shadow: 0px 0px 7px #073A29;
	border-radius: 4px;
	background: #073A29 none repeat scroll 0% 0%;
	line-height: 29px;
	color: white;
	padding: 0 14px;
	transition: ease .4s;
	z-index: 2;
	}
div.popup-new:after{
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	background: #073A29;
	bottom: -10px;
	left: 29px;
	border-left: 2px solid #073A29;
	border-bottom: 2px solid #073A29;
	transform: rotate(-45deg);
	box-shadow: 0px 0px 7px #073A29;
	z-index: -1;
	top: 18px;
}
.featured-cars .line {
    display: block;
    width: 100%;
       height: 1px;
    background: #073A29;
    margin-top: 12px;
    margin-bottom: 22px;
}
div.popup1 {
	bottom: 58px;
	left: 20px;
}
div.popup1:after{
	content: "";
	bottom: -10px;
	left: 29px;
}

div.popup2 {	
	bottom: 58px;
	left: 94px;
}
div.popup2:after{
	content: "";
	bottom: -10px;
	left: 29px;
}

div.popup3 {	
	bottom: 58px;
	left: 103px;
	width: 141px;
}
div.popup3:after{
	content: "";
	bottom: -10px;

	left: 98px;
}
.login {
    position: relative;
    display: inline-block;
}

.login .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #073A29;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 19%;
}

.login:hover .tooltiptext {
    visibility: visible;
}
.about_readmore{
color:#FFFFFF !important;
}
.about_readmore:hover{
text-decoration:underline;
}
.whoweare{
color:#FFFFFF !important;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  position: absolute;
  border-right:10px solid #073A29;
  right: 7em; 
}
