
.form-home-slide {
    margin-top: -400px !important;
    background-color: #2C65BA;
    padding-top: 20px;
    padding-bottom: 1px;
    opacity: 0.96;
    border-radius: 11px;
}

.advanced-search .form-group {
    float: left;
    vertical-align: middle;
}

.advanced-search .form-group label {
    color: #fff;
    float: left;
    font-size: 15px;
}



@media (min-width: 992px), not all
.form-home-slide label {
    font-size: 14px !important;
}

.ui-widget {
 font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.one-third2 {
    float: left;
    max-width: 100%;
    padding: 0 5px 30px 5px;
    width: 27% !important;
}

.form-group {
    margin-bottom: 15px;
}

.advanced-search {
    color: #fff;
    float: left;
    font-size: 15px;
    margin: 0 0 35px;
    padding: 35px 0 1px;
    text-transform: uppercase;
    width: 100%;
}

.page-wrapper {
    position: relative;
    z-index: 1000;
    background: #fff !important;
    overflow: hidden;
font-family: 'Open Sans', sans-serif;
}

.advanced-search .form-group {
    float: left;
    vertical-align: middle;
}

.btn-round-form {
    float: left;
}

.advanced-search .form-group input {
    border-color: #fff;
    color: #191f26;
    float: right;
}














