.driver_container{
    padding-top: 10em !important;
    padding-bottom: 35px !important;
}
.expiry_main_div 
{
    position: absolute;
    width: 100%;
    top: 44.5em;
   
}
.pcoexpirydate{
    margin-top: 2px;
}
.dvlaexpirydate{
 margin-top: 2px;
}
.pcoexpirydate_label{
 margin-top: 10px;
}
.ni_number{
    position: absolute;
    width: 100%;
    top: 17.5em;
}

.driver{
text-align:center;
}
.ninumber{
    margin-top: 16em;
    margin-left: 35px !important;
}
.driver_save{
width: 12%;
    height: 40px;
}
@media only screen and (max-width: 1230px) {
 .left_side_form{
margin-left: 10px;

}
.address_form{
margin-left: 10px;
}
.file_upload_form{
margin-left: 10px;
}
.right_side_form{
    float: right;
    margin-top: -25em;
}
.file_upload_form{
    float: right;
    margin-top: -11em;
}
}
@media only screen and (max-width: 1010px) {
 .left_side_form{
margin-left: 20px;

}
.address_form{
margin-left: 20px;
}
.file_upload_form{
margin-left: 20px;
}

}
@media only screen and (max-width: 991px) {
 .center_side_form{
margin-left: 20px;

}
.right_side_form{
    float: none;
    margin-top: 4em;
	margin-left: 20px;
}
.file_upload_form{
    float: none;
    margin-top: 4em;
	
}
.driver_save {
    width: 20%;
    height: 40px;
}
.vehicle_main{
margin-left: 15em;
}
}


@media only screen and (max-width: 780px){
.center_side_form{
width:70%;
}
 .left_side_form{
width:70%;

}
.address_form{
width:70%;
}
.driver_save {
    width: 20%;
    height: 40px;
}
}

@media only screen and (max-width: 700px){
.vehicle_main {
    margin-left: 10em;
}
}
@media only screen and (max-width: 500px){
.left_side_form {

    margin-top: 18em;
}
.driver_save {
    width: 35%;
    height: 40px;
}
.vehicle_main {
    margin-left: 5em;
}
}


@media only screen and (max-width: 384px){

.left_side_form {
    margin-top: 22em;
}
.driver_save {
    width: 35%;
    height: 40px;
}
}